<table>
  <tr>
    <td>
      <mat-card align="center" width="200">
        <h3 style="margin: 10px">Crear Tweets</h3>
        <img align="center" width="50" src="https://ohmygeek.net/wp-content/uploads/2012/06/twitter-logo-jun-2012.jpg">

          <div>
              <mat-form-field class="full-width">
                  <input matInput placeholder="Autor" [(ngModel)]="miTweet.autor">
                  </mat-form-field>

                  <mat-form-field class="full-width">
                  <input matInput placeholder="ID" [(ngModel)]="miTweet.id">
                  </mat-form-field>
                  <p>
                      <mat-form-field class="full-width">
                      <textarea matInput placeholder="Tweet"[(ngModel)]="miTweet.texto"></textarea>
                      </mat-form-field>
                  </p>

                  <button mat-raised-button (click)="addNewTweet()">Publicar Tweet</button><br><br><br>
          </div>
      </mat-card>
    </td>
  </tr>
</table>
<div *ngFor="let tweet of misTweets" >
  <app-detalle-tweet [mySelectedTweet]="tweet"></app-detalle-tweet>
</div>

