
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar>
          <img mat-card-avatar
            src="https://cimg.tvgcdn.net/i/r/2019/02/28/87f775ee-21f3-456e-b71f-e7eb658713d4/crop/2070x1245+0+0/thumbnail/1540x926/c2b1ac3173e70205824c46577d186d23/game-of-thrones-character-poster.jpg">
        </div>
          <mat-card-title>{{ mySelectedTweet.autor }}</mat-card-title>
        <mat-card-subtitle>{{ mySelectedTweet.id }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <img  align="center" width="30" height="30" src="http://tecnologiaparapymes.es/wp-content/uploads/2013/12/twitter-nuevas-ubicaciones.jpg">
          {{ mySelectedTweet.texto }}
        </p>
      </mat-card-content>
    </mat-card>

